[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
openctm = { path="." }
trimesh = "*"
pytest = "*"
importlib-metadata = { version= ">=0.12", markers = "python_version < '3.8'"}
atomicwrites = { version = ">=1.0", markers = "sys_platform=='win32'"}
